h1 {
	font-family: monospace;
	font-size: 2.5em;
}

section {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

.character-descriptor {
	margin: 0 auto;
	text-align: center;
}

.character {
	margin: 5px 5px 5px 5px;
	position: relative;
	height: 150px;
	width: 200px;
	float: left;
	background: red;
}

.img-container {
	width: 150px;
	margin: 0 auto;
}

.character-image {
	margin: 0 auto;
	width: 150px;
	height: 100px;
}

#choose-character-text {
	clear: both;
}