html {
	min-height: 100%;
	background-image: url('../images/starWarsBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

h1 {
	font-family: 'Space Mono', monospace;
	text-shadow: 0 0 7px #ffffff;
	font-size: 2.5em;
}

p {
	font-family: 'Space Mono', monospace;
}

section {
	padding-bottom: 10px;
	display: block;
	clear: both;
	overflow: auto;
}

button {
	display: block;
	clear: both;
	font-size: 1.5em;
	font-family: 'Space Mono', monospace;
}

hr {
	border: 2px solid white;
	display: block;
	clear: both;
}

.character-descriptor {
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: 'Space Mono', monospace;
	font-weight: bold;
}

.character {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 2px solid green;
	background: white;
	position: relative;
	height: 150px;
	width: 200px;
	float: left;
	cursor: pointer;
}

.img-container {
	width: 150px;
	margin: 0 auto;
}

.character-image {
	margin: 0 auto;
	width: 150px;
	height: 100px;
}

.character-enemy {
	background: #ea4335;
	border: 2px solid black;
}

.character-defender {
	background: black;
	border: 2px solid green;
}

.character-descriptor-defender {
	color: white;
}

.fight-log {
	clear: both;
	background-color: white;
	float: left;
}

#choose-character-text {
	clear: both;
}

#title-text {
	float: right;
	position: relative;
	right: 20px;
	background-color: white;
	padding: 5px;
	font-size: 3em;

}

#fight-header, #attack-btn, #defender-text {
	margin-bottom: 5px;
}

#restart-button-location {
	clear: both;
	margin-top: 10px;
}

#wrapper {
	width: 875px;
}

@media only screen and (max-width: 874px) {
	#wrapper {
		width: auto;
	}

	#title-text {
		width: 100%;
		right: 0px;
		text-align: center;
	}

	body {
		margin-left: 0px;
		margin-right: 0px;
	}
}